/* styles/styles.css */
.editor-container {
    height: 500px; /* Adjust this value as needed */
}

.CodeMirror {
    height: 100px !important;
}

.jodit-wysiwyg {
    max-height: 200px;
    overflow-y: auto !important;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
